html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --red: #b9595b;
    --teal: #59b9b7;
    --pink: #b9598b;
    --brown: #b98759;
    --yellow-green: #b9b759;
    --green: #5bb959;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sublima';
    src: url('font/sublima-light/sublima-light.otf');
}

@font-face {
    font-family: 'Thorngumbald';
    src: url('font/thorngumbald/thorngumbald-regular.otf');
}

html,
body {
    font-family: 'Sublima', Helvetica, Arial, Helvetica, sans-serif;
    width: 100vw;
    appearance: none;
}

body {
    background: rgb(224,90,93);
    background: linear-gradient(90deg, rgba(224,90,93,0.5438769257703081) 0%, rgba(89,185,183,0.3281906512605042) 84%, rgba(126,219,124,0.6811318277310925) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.add-book-form-container {
    font-size: calc(.6*var(--rvv));
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book-form {
    position: fixed;
    max-width: 80vw;
    z-index: 1;
    padding: calc(.5*var(--rvv)) calc(.7*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6f6c5;
    border: 3px solid black;
    border-radius: 15px;
}

.hide {
    display: none !important;
}

.form-title {
    font-family: 'Thorngumbald';
    font-size: 150%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-title img {
    height: calc(1.5*var(--rvv));
    width: calc(1.5*var(--rvv));
    cursor: pointer;
    transition: .05s;
}

.form-title img:hover {
    transform: scale(1.1);
}

.form-element {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    margin: 10px 0;
    column-gap: calc(.8*var(--rvv));
}

input[type='text'],
input[type='number'] {
    font-family: 'Courier';
    border: 1px solid black;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffeb;
}

input[type='text']:valid,
input[type='number']:valid {
    background-color: #5fc45e;
}

input[type='text']:focus,
input[type='number']:focus {
    outline: none;
}

fieldset {
    display: flex;
    justify-content: center;
}

.radio-container {
    display: flex;
    justify-content: center;
    gap: calc(.6*var(--rvv));
}

.radio-container div {
    padding: calc(.5*var(--rvv));
    border: 1.5px solid black;
    border-radius: 50px;
    background-color: #ffffeb;
}

.read-option.checked {
    background-color: #17c5c5;
}

.want-to-read-option.checked {
    background-color: #ffadad;
}

.rating-slider {
    display: flex;
    gap: calc(var(--rvv));
}

#rating {
    flex: auto;
    cursor: pointer;
}

.button-container {
    margin-top: calc(0.5*var(--rvv));
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Thorngumbald';
    font-size: calc(.6*var(--rvv));
    padding: calc(.4*var(--rvv)) calc(.8*var(--rvv));
    background-color: #7eca7d;
    border-radius: calc(var(--rvv));
    border: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .05s;
}

button:hover {
    transform: scale(1.1);
}

.main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blur {
    filter: blur(20px);
}

header {
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100vw;
    top: 0;
    position: sticky;
    background-color: #59b9b7;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.log-title {
    width: 40vw;
    max-height: 100%;
    font-family: 'Thorngumbald';
    font-size: calc(1.5*var(--rvv));
    padding: calc(.2*var(--rvv));
    padding-left: calc(.8*var(--rvv));
}

.progress-bar-container {
    border-left: 3px solid black;
    background-color: #c55f60;
    width: 60vw;
    display: flex;
    align-items: center;
}

.progress-bar {
    height: 100%;
    background-color: #5bb959;
    border-right: 2px solid #fffd89;
    position: relative;
}

.progress-message {
    z-index: 5;
    max-width: 30vw;
    font-size: calc(.5*var(--rvv));
    position: absolute;
    right: calc(.8*var(--rvv));
}

.log-container {
    max-width: 90vw;
    margin: calc(.7*var(--rvv));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: minmax(200px, 1fr);
    gap: calc(.7*var(--rvv));
}

.logged-book {
    position: relative;
    font-size: calc(.2*var(--rvv) + .5rem);
    max-height: 400px;
    max-width: fit-content;
    background-color: #db8283;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    box-shadow: calc(0.1*var(--rvv)) calc(0.1*var(--rvv)) #833738;
}

.want-to-read-book {
    background-color: #db8283;
}

.read-book {
    background-color: #7eca7d;
}

.book-title,
.book-author,
.book-pages,
.book-rating {
    border-bottom: 1.5px solid black;
}

.read-status {
    padding-top: calc(0.2*var(--rvv));
    margin: 0 calc(0.1*var(--rvv));
    display: flex !important;
    justify-content: center;
    gap: calc(0.6*var(--rvv));
}

.read-button,
.want-to-read-button {
    display: flex !important;
    margin: 0;
    padding: calc(0.1*var(--rvv)) !important;
    border: 1px solid black;
    border-radius: calc(0.075*var(--rvv));
    cursor: pointer;
    font-size: calc(0.1*var(--rvv) + 0.5rem);
    transition: 0.1s;
}

.read-button:hover,
.want-to-read-button:hover {
    transform: scale(1.1);
}

.read-button {
    background-color: #17c5c5;
}


div[data-status='want-to-read'] .want-to-read-button  {
    box-shadow: 0 0 calc(.1*var(--rvv)) calc(.05*var(--rvv)) #2b6a6ac8;
}

div[data-status='read'] .read-button {
    box-shadow: 0 0 calc(.1*var(--rvv)) calc(.05*var(--rvv)) #aa6668bf;
}

.want-to-read-button {
    background-color: #ffb1b3;
}

.logged-book > div:not(div:last-child) {
    display: grid;
    grid-template: 1fr / 2fr 3fr;
}

.logged-book div div {
    padding-bottom: calc(.2*var(--rvv));
    align-self: end;
}

.logged-book div div:first-child {
    padding-left: calc(.3*var(--rvv));
    font-weight: 100;
}

.logged-book div div:last-child {
    padding-left: calc(.15*var(--rvv));
    padding-right: calc(.4*var(--rvv));
}

.logged-book div:last-child div {
    padding: calc(.3*var(--rvv));
}

.book-title {
    padding-top: calc(0.1*var(--rvv));
}

.book-title div:last-child {
    font-style: italic;
    font-size: 120%;
}

.book-rating {
    max-width: 100%;
}

.book-rating div:last-child {
    height: calc(0.7*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-rating div:last-child img {
    max-width: calc(.4*var(--rvv));
    max-height: calc(.4*var(--rvv));
}

.remove-book {
    padding: calc(.3*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button {
    color: black;
    text-align: center;
    font-family: 'Thorngumbald';
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--rvv));
    border: 1px solid black;
    background-color: #fefecdd1;
    cursor: pointer;
    transition: 0.1s;
}

.remove-button:hover {
    transform: scale(1.05);
}

.add-book {
    background-color: #f0caca;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book img {
    height: calc(3.5rem + var(--rvv));
    cursor: pointer;
}