html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --red: #b9595b;
    --teal: #59b9b7;
    --pink: #b9598b;
    --brown: #b98759;
    --yellow-green: #b9b759;
    --green: #5bb959;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sublima';
    src: url('font/sublima-light/sublima-light.otf');
}

@font-face {
    font-family: 'Thorngumbald';
    src: url('font/thorngumbald/thorngumbald-regular.otf');
}

html,
body {
    font-family: 'Sublima', Helvetica, Arial, Helvetica, sans-serif;
    width: 100vw;
    appearance: none;
}

body {
    background-color: #59b9b7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.show {
    display: flex;
    height: fit-content;
    width: 400px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 15px;
}

.hide {
    display: none;
}

.form-title {
    font-family: 'Thorngumbald';
    font-size: 150%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-element {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    margin: 10px 0;
    column-gap: 5px;
}

.main {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 0;
    padding: 0;
    width: 100vw;
    top: 0;
    position: sticky;
    background-color: #7bb77a;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.log-title {
    max-width: 50vw;
    max-height: 100%;
    font-family: 'Thorngumbald';
    font-size: calc(1.5*var(--rvv));
    padding: calc(.2*var(--rvv));
    padding-left: calc(.8*var(--rvv));
}

.log-container {
    max-width: 90vw;
    margin: calc(.7*var(--rvv));
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: calc(.7*var(--rvv));
}

.logged-book {
    max-height: 400px;
    max-width: fit-content;
    background-color: #db8283;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

.logged-book > div {
    display: grid;
    grid-template: 1fr / 2fr 3fr;
}

.logged-book div:first-child {
    padding-top: calc(.2*var(--rvv));
}

.logged-book div div {
    border-bottom: 1.5px solid black;
    padding-bottom: calc(.2*var(--rvv));
    align-self: end;
}

.logged-book div div:first-child {
    padding-left: calc(.3*var(--rvv));
    font-weight: 100;
}

.logged-book div div:last-child {
    padding-right: calc(.4*var(--rvv));
}

.logged-book div:last-child div {
    border-bottom: none;
    padding-bottom: calc(.3*var(--rvv));
}

.book-title div:last-child {
    font-style: italic;
    font-size: 120%;
}

.book-rating {
    max-width: 100%;
}

.book-rating div:last-child {
    display: flex;
}

.book-rating div:last-child img {
    max-width: calc(.5*var(--rvv));
    max-height: calc(.5*var(--rvv));
}

.add-book {
    background-color: #f0caca;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book img {
    height: calc(2.5*var(--rvv));
    cursor: pointer;
}